.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .leftside {
        background-color: $offwhite;
    }

    .rightside {
        background-color: $charcoal;

        .portfolio-sidebar-list-wrapper {
        
            .portfolio-item-wrapper {
                padding: 15px;

                .portfolio-thumb-image img{
                    width: 100%;
                    
                }
                
                .title {
                    color: $offwhite;
                }
            }
        }
    }
}
